{
  "parser": "@typescript-eslint/parser",
  // Specifies the ESLint parser
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "process": true,
    "Raven": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {},
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/no-empty-function": 0,
    "no-unused-expressions": 0,
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "no-underscore-dangle": [
      0,
      {
        "allow": [
          "__typename",
          "_foo"
        ]
      }
    ],
    "import/extensions": 0,
    "max-len": [
      "error",
      140,
      4,
      {
        "ignoreRegExpLiterals": true,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignorePattern": "^\\s*<(?:path|rect|g|polygon|polyline|ellipse|linearGradient|text|use|image|filter|feGaussianBlur|feColorMatrix) .*?>|d=\"[\\s\\S]"
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "warn"
        ]
      }
    ],
    "linebreak-style": 0,
    "no-shadow": 0,
    "prefer-destructuring": 0,
    "func-names": "off",
    "no-trailing-spaces": "off",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "object-curly-newline": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0
  }
}
